section{
    text-align: center;
}
section[id=liste_alarme]{
    height: auto;
    margin:2% auto;
    padding: 1%;
    width: 40%;
    border: 2px black solid;
    background-color: burlywood;
    border-radius: 1em;
}

p[id=Hour]{
    margin: 0% auto;
    width: 9%;
    border: 3px black solid;
    border-radius: 0.5em;
    font-size: 2.5vw;
    padding: 0.5%;
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    box-shadow: 8px 8px 4px 0px rgba(47, 45, 45, 0.75);
}

article{
    margin:1% 0;
    width: 100%;
    height: 120px;
    border: 4px black solid;
    border-radius: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div[id=titre]{
    width: 70%;
    height: auto;
    background-color: grey;
    margin: 0px 0;
    border: 2px black solid;
    border-radius: 0.5em;
}

div[id=heure]{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin: 0px auto;
    /* background-color: rgb(225, 229, 182); */
    /* border: 2px black solid;
    border-radius: 1em; */
}

article[id=slideOn]{
    height: 30%;
    width: 80%;
    margin: 0 auto;
    border: 4px black solid;
    background-color: rgb(229, 186, 182);

}

article[id=heure]{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    /* border: 2px black solid;*/
    background-color: rgb(229, 186, 182);

}

div[id=slider],div[id=On],div[id=Off]{
    width: 90px;
    height: 33px;
    background-color: rgb(233, 24, 5);
    border-radius: 0.5em;   
}

div[id=realheure]{
    margin: 5% auto;
    font-size: 2.5vw;
}

div[id=realtitre]{
    margin: 5% auto;
    text-align: center;
    font-size: 2.5vw;
}

/* animation slide reveil */

@keyframes animation {
    0%   {width: 90px; background: rgb(255, 57, 57);}
    50% {background: rgba(255, 255, 255, 0.356); width: 60%;}
    100% {width: 90px; background-color: rgb(39, 233, 5);  transform: translateX(91.7px) ;}
  }

#On{
    animation-name:animation ;
     animation-duration :0.4s;
     animation-timing-function :ease-in-out;
     animation-delay :0s;
     animation-fill-mode:forwards;
}



@keyframes animation1 {
    0%   {width: 90px; background-color: rgb(39, 233, 5); transform: translateX(91.7px) ;}
    50% {background: rgba(255, 255, 255, 0.397); width: 60%;}
    100% {width: 90px; background-color: rgb(233, 24, 5); transform: translateX(0px) ;}
  }

#Off{
    animation-name:animation1 ;
     animation-duration :0.4s;
     animation-timing-function :ease-in-out;
     animation-delay :0s;
     animation-fill-mode:forwards;
}
